.contact-details {
    background-color: $extra-light-grey;
}

.contact-list {
    width: 100%;
}

.contact-item {
    @include flex();
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    margin-bottom: 35px;
    background-color: $white;
}

.contact-item-icon {
    width: 45px;
    height: 45px;
    @include center();
    border-radius: 50%;
    svg {
        width: 17px;
        height: 17px;
        fill: $white;
    }
}

.contact-info {
    @include flex();
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.contact-info-name {
    @include text(14px,16px,900,$dark-grey);
    margin-bottom: 8px;
    text-transform: capitalize;
}

.unbold {
    font-weight: 400;
    text-transform: none;
}

.contact-info-link {
    display: inline-block;
    @include text(14px,16px,400,$dark-grey);
    text-decoration: none;
}

.grey-text {
    color: $grey;
}

.hover-contact-item {
    .contact-item-icon {
        background-color: $white;
    }
    .contact-info-name,
    .contact-info-link {
        color: $white;
    }
}

.card2-heading {
    @include text(20px,22px,400,$dark-grey);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.card2-text {
    @include text(14px,16px,400,$dark-grey);
    margin-bottom: 20px;
}

.card-form {
    @include flex();
    flex-direction: column;
}

.form-inp {
    padding: 15px;
    margin-bottom: 20px;
    background-color: $white;
    @include text(14px,16px,400,$dark-grey);
    border: none;
}

.form-btn {
    padding: 10px 18px;
    background-color: $grey;
    @include text(14px,16px,400,$white);
    text-transform: uppercase;
    width: 94px;
    height: 100%;
    border: none;
    &:hover {
        background-color: transparent;
        border: 1px solid $dark-grey;
        color: $dark-grey;
    }
}

@include mq(phone) {
    .contact-details {
        .card2-holder {
            width: 100%;
        }
    }
}