.footer {
    padding: 40px 0;
    background-color: $footer-blue;
    .smedia-item-link {
        height: 30px;
        width: 30px;
        svg {
            height: 15px;
        }
    }
}

.footer-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin-bottom: 20px;
    &:hover {
        opacity: 0.7;
    }
}

.footer-logo-src {
    width: 200px;
    height: 75px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav-item { 
    padding: 0 3px;  
}

.footer-nav-link {
    @include text(14px,16px,400);
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        color: $blue;
    }
}

.footer-copy {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: $white;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
}

@include mq(phone) {
    .footer {
        padding: 20px 0;
    }
    .footer-logo {
        margin-bottom: 10px;
    }
    .footer-logo-src {
        width: 150px;
        height: 60px;
    }
    .footer-nav-link {
        font-size: 13px;
        line-height: 13px;
    }
    .footer-copy {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 15px;
    }
}
