.header {
    background-color: $black;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo-link {
    padding: 20px 0;
    &:hover {
        opacity: 0.7;
    }
}
.logo-src {
    height: 30px;
}
.nav-list {
    @include center();
}
.nav-item {
    position: relative;
    padding: 22px 0 22px 20px;
}
.nav-link {
    display: block;
    @include text(14px,16px,400,$white);
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    &:hover {
        color: $grey;
    }
}
.drop {
    &::after {
        content:'▿';
        position: absolute;
        top: 8px;
        left: -5px;
        @include text(10px,10px,900,$white);
    }
}
.first {
    color: $grey;
}
.dropdown-list {
    display: none;
}
.drop2 {
    &::after {
        content:'▿';
        position: absolute;
        top: 14px;
        left: 5px;
        @include text(10px,10px,900,$white)
    }
}
.active {
    .dropdown-list {
        display: block;
        position: absolute;
        top: 70px;
        left: 12px;
        width: 150px;
        z-index: 10;
    }
    .dropdown-list-item {
        display: block;
        position: relative;
    }
    .dropdown-list-link {
        display: block;
        @include text(14px,16px,400,$white);
        background-color: $light-grey;
        border-bottom: 1px solid $light-grey;
        padding: 10px 15px;
        text-transform: capitalize;
        text-decoration: none;
        position: relative;
        &:hover {
            opacity: 0.8;
        }
    }
    .dd-list {
        display: none;
    }
}
.active-drop {
    .dd-list {
        display: block;
        position: absolute;
        top: 0;
        left: 150px;
        width: 150px;
        z-index: 10;
    }
}
.form {
    display: none;
}
.form-select {
    background-color: $white;
    color: $black;
    padding: 5px;
    text-transform: uppercase;
}
.selected {
    text-transform: uppercase;
}
.option {
    text-transform: capitalize;
}

@include mq (tablet) {
    .nav {
        display: none;
    }
    .form {
        display: block;
    }
}
@include mq (phone) {
    .header {
        padding: 20px 0;
        .wrap {
            @include center();
            flex-direction: column;
        }
    }
    .nav {
        display: none;
    }
    .form {
        display: block;
        width: 100%;
    }
    .form-select {
        width: 100%;
    }
}