.wrap {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.sec {
    padding: 80px 0;
}

.radius {
    border-radius: 50px 0;
}

.gradient {
    background: linear-gradient(to bottom, $extra-light-grey 55%, $white 50%, $white 100%);
}