.immpresion {
    padding: 50px 0;
    text-align: center;
}

.immpresion-title {
    display: block;
    @include text(38px,48px,700);
    color: $light-black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.immpresion-text {
    display: block;
    @include text(18px,24px,400);
    color: $light-black;
    font-style: italic;
}

.slider {
    padding: 30px 0;
}

.slider-card {
    display: block;
}

.slider-image-holder {
    margin: 20px auto;
    height: 190px;
    width: 190px;
    position: relative;
}

.slider-element {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $light-black;
    border: 4px solid $white;
    position: absolute;
    top: 0;
    left: -15px;
}

.slider-element-content {
    font-size: 50px;
    color: $white; 
    position: absolute;
    top: 17px;
    left: 17px;
    
}

.slider-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slider-about {
    display: block;
    padding: 20px 0;
}

.personal-info {
    @include text(18px,20px,400);
    text-transform: capitalize;
    font-style: italic;
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

.upp {
    text-transform: uppercase;
}

@include mq(phone) {
    .immpresion {
        padding: 30px 0;
    }
    .immpresion-title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .immpresion-text {
        font-size: 16px;
        line-height: 20px;
    }
    .slider {
        padding: 0;
    }
    .slider-about {
        padding: 10px 0;
    }
}