.six-cards-section {
    @extend %cover;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.2;
    }
    .wrap {
        position: relative;
        z-index: 2;
    }
}

.section-title {
    text-align: center;
}

.section-heading-text {
    @include text(14px,16px,400,$white);
}

.section-heading {
    @include text(30px,32px,400,$white);
    text-transform: capitalize;
    margin-bottom: 80px;
}

.six-cards-holder {
    @include flex();
    margin-left: -40px;
    margin-bottom: -40px;
}

.card6 {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    padding-left: 40px;
    margin-bottom: 40px;
}

.grey {
    background-color: $white;
    border-radius: 0;
    .card-title,
    .card-text {
        color: $dark-grey;
    }
    .card-icon {
        background-color: $grey;
    }
    svg {
        fill: $white;
    }
}

.hover-card {
    background-color: $grey;
    .card-icon {
        background-color: $white;
        svg {
            fill: $grey;
        }
    }
    .card-title,
    .card-text {
       color: $white; 
    }
}
@include mq(phone) {
    .six-cards-holder {
        display: block;
        margin-left: 0;
    }
    .card6 {
        flex: none;
        max-width: 100%;
        padding-left: 0;
    }
}
