.three-cards-section {
    background-color: $white;
}

.three-cards-holder {
    @include flex();
    margin-left: -40px;
}

.card3 {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    padding-left: 40px;
    @include flex();
    flex-direction: column;
}

.card3-link {
    display: block;
    width: 100%;
    position: relative;
    &::after {
        content: '\002B';
        width: 50px;
        height: 50px;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 50px;
        opacity: 0;
    }
    &:hover {
        background-color: $white;
        opacity: 0.5;
        &::after {
            opacity: 1;
        }
    }
    
}

.card3-src {
    display: block;
    width: 100%;
}

.card-heading {
    margin-top: -2px;
    padding: 20px 10px;
    border: 1px solid $light-grey;
    @include center();
    flex-direction: column;
}

.left {
    align-items: flex-start;
}

.card-name {
    @include text(20px,22px,400,$dark-grey);
    margin-bottom: 8px;
}

.card-subtitle {
    @include text(11px,13px,400,$dark-grey);
}

.img-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-black;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.img-footer-left,
.img-footer-right {
    @include center();
}

.img-footer-icon {
    display: inline-block;
    margin-right: 5px;
    svg{
        height: 12px;
        width: 12px;
        fill: $white;
    }
}

.img-footer-link {
    @include text(12px,14px,400,$white);
    text-decoration: none;
}

.blog {
    margin: 0 26px;
    padding: 15px 0 15px 15px;
    border-left: 1px solid $light-grey;
}

.time {
    display: block;
    @include text(11px,13px,400,$dark-grey);
    margin-bottom: 8px;
    text-transform: uppercase;
}

.blog-link {
    @include text(17px,19px,400,$grey);
    text-decoration: none;
}

@include mq(phone) {
    .three-cards-holder {
        display: block;
        margin-bottom: -50px;
    }
    .card3 {
        flex: none;
        max-width: 348px;
        margin: 0 auto 50px;
    }
}