.two-cards-section {
    background-color: $grey;
}
.img-holder {
    @include center();
    margin-bottom: 20px;
}
.round {
    width: 100px;
    border-radius: 50%;
}
.white {
    color: $white;
    margin-bottom: 0;
}
.quotation {
    background-color: $white;
    @include text(14px,16px,400,$dark-grey);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 0;
    &::before {
        content: '🙶';
        @include text(60px,60px,900,$extra-light-grey);
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: -1;
    }
}

@include mq(phone) {
    .two-cards-section {
        .card2 {
            margin-bottom: 20px;
        }
    }
}