// colors
$black: #000;
$dark-grey: #474747;
$shadow-black: rgba(0, 0, 0, 0.302);
$white: #fff;
$opacity-white: rgba(255, 255, 255, 0.502);
$grey: #97a9bd;
$light-grey: rgba(153, 170, 189, 0.502);
$purple: #a298bd;
$brown: #bda697;
$green: #97bdab;
$extra-light-grey: #f4f4f4;
$light-black: #282E39;
$footer-grey: #a5a6aa;
$facebook-blue: #3B5998;
$google-red: #db4a39;
$linkedin-blue: #0072b1;
$twitter-blue: #1da1f2;
$wk-blue: #4e658e;


// fonts
$primary-font: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
$secondary-font: 'Georgia', 'Times New Roman', 'Times', 'sans-serif';

// loops
$themeColors: ("grey":$grey,
                "purple":$purple,
                "brown":$brown, 
                "green":$green
                );
@each $color-name,$color in $themeColors {
    .bg-color-#{$color-name}-svg {
        background-color: $color;
        svg {
            fill: $color;
        }
    }
    .bg-color-#{$color-name} {
        background-color: $color;
    }
}

$itemColors: ('facebook':$facebook-blue,
            'google':$google-red,
            'linkedin':$linkedin-blue,
            'twitter':$twitter-blue,
            'wk':$wk-blue);
@each $item,$item-color in $itemColors {
    .#{$item}-bg-color {
        background-color: $item-color;
        svg {
            fill: $white;
        }
    }
}

// mixins
@mixin text($fz,$lh,$fw,$color) {
    font-size: $fz;
    line-height: $lh;
    font-weight: $fw;
    color: $color;
}

@mixin flex() {
    display: flex;
    flex-wrap: wrap;
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// placeholders
%cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}