// Colors
$black: #000;
$white: #fff;
$blue: rgb(0,159,217);
$light-black: rgb(35,35,35);
$light-grey: rgb(93,93,93);
$dark-blue: rgb(23, 87, 178);
$light: rgb(230, 230, 230);
$footer-blue: rgb(13, 67, 137);

