.footer {
    position: relative;
}
.footer-top {
    background-color: $dark-grey;
    padding: 30px 0;
    @include text(20px,26px,400,$light-grey);
}
.footer-top-holder {
    @include flex;
    margin-left: -30px;
}
.footer-top-card {
    flex: 1 1 25%;
    max-width: 25%;
    flex-direction: column;
    padding-left: 30px;
}
.footer-top-card-title {
    display: block;
    margin-bottom: 35px;
    @include text(22px,24px,400,$grey);
    text-transform: uppercase;
}
.footer-list {
    margin-top: -7px;
}
.footer-item {
    padding: 7px 0;
    border-bottom: 1px solid $grey;
}
.footer-item-link {
    text-decoration: none;
    text-transform: capitalize;
   color: $orange;
    &:hover {
        text-decoration: underline;
    }
}
.blog {
    @include flex;
    flex-direction: column;
}
.blog-name {
   font-weight: 700;;
   text-transform: capitalize;
}

.blog-info {
    @include text(18px,20px,400,$light-grey);
    padding: 6px 0;
}

.blog-link {
    color: $orange;
    align-self: flex-end;
    text-decoration: none;
    text-transform: capitalize;
    padding: 7px 0;
    &:hover {
        text-decoration: underline;
    }
}

.footer-form-inp {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
    background-color: $grey;
    @include text(20px,40px,400,$light-grey);
    padding-left: 10px;
    border: none;

}

.footer-form-btn {
    background-color: $grey;
    @include text(20px,40px,700,$orange);
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    padding: 0 10px;
    &:hover {
        background-color: $orange;
        color: $white;
    }
}


// footer-bottom
.footer-bot {
    background-color: $black;
    padding: 30px 0;
    @include text(20px,22px,400,$grey);
    .wrap {
        @include flex;
        justify-content: space-between;
        align-items: center;
    }
}
.copy{
    text-transform: capitalize;
    sub {
        font-size: 16px;
    }
}


@include mq (tablet) {
    .footer-top-card-title {
        font-size: 18px;
        line-height: 20px;
    }
    .footer-item-contact,
    .footer-item-link,
    .blog-name,
    .blog-text,
    .blog-link {
        font-size: 16px;
        line-height: 22px;
    }
    .footer-list {
        margin-top: -4px;
    }
    .footer-item {
        padding: 4px 0;
    }
    .blog-info {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0;
    }
    .footer-form-inp,
    .footer-form-btn {
        font-size: 16px;
        line-height: 36px;
    }
}
@include mq (phone) {
    .footer-top-holder {
        display: block;
    }
    .footer-top-card {
        flex: none;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .footer-top-card-title {
        font-size: 20px;
        line-height: 22px;
    }
    .footer-bot {
        padding: 20px 0;
        .wrap {
            flex-direction: column;
            justify-content: center;
        }
    }
    .copy,
    .template {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }
}