// section 3
.section-cards {
    background-color: $white;
    padding-top: 80px;
    min-height: 300px;
    position: relative;
}

.cards2-container {
    @include flex;
    margin-left: -30px;
}

.card2 {
    flex: 1 1 25%;
    max-width: 25%;
    padding-left: 30px;
    padding-bottom: 60px;
    .card-text {
        margin-bottom: 20px;
        padding-right: 20px;
    }
}

.card2-img {
    @extend %cover;
    display: block;
    width: 100%;
    min-height: 250px;
    box-shadow: 0 44px 28px -40px $grey;
    margin-bottom: 30px;
}

.card2-link {
    @include text(22px,24px,400,$orange);
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
        text-decoration: underline;
    }
}

.exter-card2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.exter-card2-link {
    height: 200px;
    min-width: 200px;
    &:hover {
        opacity: 0.7;
    }
    svg{
        height: 100%;
        width: 100%;
    }
}

.exter-card2-text {
    margin-left: 30px;
    @include text(30px,36px,400,$light-grey);
}

@include mq(tablet) {
    .section-cards {
        padding-top: 50px;
        .wrap2 {
            padding: 0 20px;
        }
    }
    .cards2-container {
        align-items: center;
    }
    .card2 {
        flex: 1 1 50%;
        max-width: 50%;
        .card-text {
            padding-right: 0;
        }
    }
    .exter-card2-text {
        font-size: 24px;
        line-height: 30px;
    }
}

@include mq(phone) {
    .section-cards {
        padding-top: 30px;
        .wrap2 {
            padding: 0 20px;
        }
    }
    .cards2-container {
        display: block;
        margin-left: -10px;
    }
    .card2 {
        flex: none;
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 10px;
        border-bottom: 2px solid $extra-light-grey;
    }
    .exter-card2-link {
        height: 160px;
        min-width: 160px;
    }
    .exter-card2-text {
        font-size: 22px;
        line-height: 26px;
    }
}