// colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark-grey: rgb(37,37,37);
$grey: rgb(92, 92, 92);
$light-grey: rgb(181,181,181);
$orange: rgb(244,156,30);
$dark-orange: rgb(233,126,46);
$extra-light-grey: rgb(220,220,220);

