/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap; }
.wrap {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.wrap2 {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto; }

.banner, .card2-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: block; }

.cards2-container .slick-arrow {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #b5b5b5;
  padding: 5px 10px;
  text-transform: capitalize;
  background-color: #5c5c5c;
  border: none;
  border-radius: 5px; }
  .cards2-container .slick-arrow::hover {
    background-color: #252525; }
.cards2-container .slick-prev {
  left: 10px; }
.cards2-container .slick-next {
  right: 0px; }

.body {
  background-color: #252525; }

.header {
  position: relative; }

.header-top {
  background-color: #5c5c5c; }

.header-top-inner {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.toggle {
  display: none; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -21px; }

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  border-left: 1px solid #b5b5b5; }

.nav-item-link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #b5b5b5;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5px; }
  .nav-item-link:hover {
    color: #f49c1e; }

.nav-item-text {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: black; }

.smedia-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.smedia-item {
  margin-left: 10px; }

.smedia-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #252525; }
  .smedia-item-link svg {
    height: 20px;
    fill: white; }
  .smedia-item-link:hover {
    background-color: #e97e2e; }

.header-bot {
  background-color: transparent;
  border-top: 4px solid #5c5c5c;
  margin: 10px 0; }

.header-bot-inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.logo:hover {
  opacity: 0.7; }

.logo-src {
  height: 45px; }

.header-text {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #b5b5b5;
  padding: 25px 5px 0 20px; }

.form {
  width: 100%;
  max-width: 350px;
  display: block;
  position: relative; }

.form-inp {
  width: 100%;
  background-color: #5c5c5c;
  height: 45px;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  border: 2px solid #252525;
  padding: 0 100px 0 10px; }

.form-btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #252525;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #b5b5b5;
  text-transform: uppercase; }
  .form-btn:hover {
    background-color: #f49c1e;
    color: white; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header-top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .nav {
    padding-bottom: 20px; }

  .nav-item-link {
    font-size: 16px;
    line-height: 18px; }

  .nav-item-text {
    font-size: 16px;
    line-height: 16px; } }
@media only screen and (max-width: 767px) {
  .toggle {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #252525;
    position: relative; }

  .toggle-line {
    width: 20px;
    height: 4px;
    background-color: #b5b5b5;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
    .toggle-line::after {
      content: '';
      width: 20px;
      height: 4px;
      background-color: #b5b5b5;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 5px;
      right: 0;
      top: 8px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }

  .opened .toggle-line {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
    .opened .toggle-line::after {
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg);
      top: 8px;
      left: -9px; }

  .nav {
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #5c5c5c;
    z-index: 2;
    padding: 10px 0; }

  .nav-list {
    display: block; }

  .nav-item {
    margin: 10px 0; }

  .smedia-item {
    margin-left: 5px; }

  .header-bot-inner {
    display: block; }

  .header-col {
    display: block; }

  .logo {
    display: block; }

  .header-text {
    padding-left: 0; }

  .form {
    margin-top: 10px; } }
.main {
  position: relative; }

.opacity-layer {
  width: 100%;
  height: 1650px;
  position: absolute;
  top: 350px;
  left: 0;
  background-color: white;
  opacity: 0.9;
  z-index: 0;
  border-top: 20px solid #f49c1e; }

.layer-text {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #b5b5b5;
  text-transform: capitalize;
  position: absolute;
  top: 30px;
  left: 80px; }

.layer-link {
  color: #f49c1e;
  text-decoration: none; }
  .layer-link:hover {
    background-color: #f49c1e;
    color: white; }

.banner {
  border-radius: 50px 50px 0 0;
  min-height: 450px;
  width: 100%; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .opacity-layer {
    height: 100%; } }
@media only screen and (max-width: 767px) {
  .banner {
    min-height: 350px; }

  .opacity-layer {
    top: 250px;
    height: 100%; } }
.title-section {
  background-color: white;
  text-align: center;
  padding-top: 50px;
  position: relative; }

.line {
  border-bottom: 2px solid gainsboro; }

.title {
  display: inline-block;
  font-size: 102px;
  line-height: 112px;
  font-weight: 400;
  color: gainsboro;
  text-transform: uppercase; }
  .title::first-letter {
    font-size: 132px; }

.second {
  padding-left: 20px; }

.quotation {
  font-size: 46px;
  line-height: 60px;
  font-weight: 400;
  color: #b5b5b5;
  font-style: italic;
  padding-bottom: 50px; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .title-section {
    padding-top: 20px; }
    .title-section .wrap2 {
      padding: 0 20px; }

  .title {
    font-size: 60px;
    line-height: 80px; }
    .title::first-letter {
      font-size: 80px; }

  .quotation {
    font-size: 38px;
    line-height: 40px;
    padding-bottom: 20px; } }
@media only screen and (max-width: 767px) {
  .title-section {
    padding-top: 20px; }
    .title-section .wrap2 {
      padding: 0 20px; }

  .title {
    font-size: 40px;
    line-height: 50px; }
    .title::first-letter {
      font-size: 50px; }

  .quotation {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 20px; } }
.cards-section {
  background-color: white;
  padding-top: 70px;
  position: relative; }

.card-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px; }

.two-card-holder {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px; }

.card {
  padding-bottom: 70px; }

.card-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  color: #5c5c5c;
  text-transform: capitalize;
  margin-bottom: 30px; }

.card-content .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card-icon {
  height: 110px; }
  .card-icon svg {
    display: block;
    fill: gainsboro;
    height: 100%;
    width: 100%;
    margin: 0 auto; }

.card-name {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  color: black;
  text-transform: capitalize; }

.ceo {
  text-transform: uppercase;
  font-weight: 400; }

.card-text {
  font-size: 23px;
  line-height: 33px;
  font-weight: 400;
  color: #b5b5b5; }

.card-src {
  height: 210px;
  width: 210px;
  padding: 5px;
  border: 1px solid gainsboro; }

.card-text-holder {
  margin-left: 20px; }
  .card-text-holder .card-name {
    display: block;
    margin-bottom: 20px; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .cards-section {
    padding-top: 50px; }
    .cards-section .wrap2 {
      padding: 0 20px; }

  .card-title {
    font-size: 30px;
    line-height: 40px; }

  .card-icon {
    height: 70px; }

  .card-name {
    font-size: 24px;
    line-height: 34px; }

  .card-text {
    font-size: 20px;
    line-height: 30px; }

  .card-content .person {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 20px; }

  .card-src {
    height: 130px;
    width: 130px; }

  .card-text-holder {
    margin-top: 0px;
    margin-left: 10px; }
    .card-text-holder .card-name {
      line-height: 26px;
      margin-bottom: 10px; } }
@media only screen and (max-width: 767px) {
  .cards-section {
    padding-top: 0; }
    .cards-section .wrap2 {
      padding: 0 20px; }

  .card-holder {
    display: block; }

  .two-card-holder {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
    padding-top: 30px; }

  .card {
    padding-bottom: 20px; }

  .card-content {
    padding-right: 0; }
    .card-content .person {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
.section-cards {
  background-color: white;
  padding-top: 80px;
  min-height: 300px;
  position: relative; }

.cards2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px; }

.card2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 25%;
  padding-left: 30px;
  padding-bottom: 60px; }
  .card2 .card-text {
    margin-bottom: 20px;
    padding-right: 20px; }

.card2-img {
  display: block;
  width: 100%;
  min-height: 250px;
  -webkit-box-shadow: 0 44px 28px -40px #5c5c5c;
          box-shadow: 0 44px 28px -40px #5c5c5c;
  margin-bottom: 30px; }

.card2-link {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #f49c1e;
  text-decoration: none;
  text-transform: capitalize; }
  .card2-link:hover {
    text-decoration: underline; }

.exter-card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px; }

.exter-card2-link {
  height: 200px;
  min-width: 200px; }
  .exter-card2-link:hover {
    opacity: 0.7; }
  .exter-card2-link svg {
    height: 100%;
    width: 100%; }

.exter-card2-text {
  margin-left: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #b5b5b5; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .section-cards {
    padding-top: 50px; }
    .section-cards .wrap2 {
      padding: 0 20px; }

  .cards2-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .card2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 50%; }
    .card2 .card-text {
      padding-right: 0; }

  .exter-card2-text {
    font-size: 24px;
    line-height: 30px; } }
@media only screen and (max-width: 767px) {
  .section-cards {
    padding-top: 30px; }
    .section-cards .wrap2 {
      padding: 0 20px; }

  .cards2-container {
    display: block;
    margin-left: -10px; }

  .card2 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 10px;
    border-bottom: 2px solid gainsboro; }

  .exter-card2-link {
    height: 160px;
    min-width: 160px; }

  .exter-card2-text {
    font-size: 22px;
    line-height: 26px; } }
.footer {
  position: relative; }

.footer-top {
  background-color: #252525;
  padding: 30px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #b5b5b5; }

.footer-top-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px; }

.footer-top-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px; }

.footer-top-card-title {
  display: block;
  margin-bottom: 35px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #5c5c5c;
  text-transform: uppercase; }

.footer-list {
  margin-top: -7px; }

.footer-item {
  padding: 7px 0;
  border-bottom: 1px solid #5c5c5c; }

.footer-item-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #f49c1e; }
  .footer-item-link:hover {
    text-decoration: underline; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.blog-name {
  font-weight: 700;
  text-transform: capitalize; }

.blog-info {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #b5b5b5;
  padding: 6px 0; }

.blog-link {
  color: #f49c1e;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  text-transform: capitalize;
  padding: 7px 0; }
  .blog-link:hover {
    text-decoration: underline; }

.footer-form-inp {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #5c5c5c;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  color: #b5b5b5;
  padding-left: 10px;
  border: none; }

.footer-form-btn {
  background-color: #5c5c5c;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  color: #f49c1e;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  padding: 0 10px; }
  .footer-form-btn:hover {
    background-color: #f49c1e;
    color: white; }

.footer-bot {
  background-color: black;
  padding: 30px 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #5c5c5c; }
  .footer-bot .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.copy {
  text-transform: capitalize; }
  .copy sub {
    font-size: 16px; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-top-card-title {
    font-size: 18px;
    line-height: 20px; }

  .footer-item-contact,
  .footer-item-link,
  .blog-name,
  .blog-text,
  .blog-link {
    font-size: 16px;
    line-height: 22px; }

  .footer-list {
    margin-top: -4px; }

  .footer-item {
    padding: 4px 0; }

  .blog-info {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0; }

  .footer-form-inp,
  .footer-form-btn {
    font-size: 16px;
    line-height: 36px; } }
@media only screen and (max-width: 767px) {
  .footer-top-holder {
    display: block; }

  .footer-top-card {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
    margin-bottom: 20px; }

  .footer-top-card-title {
    font-size: 20px;
    line-height: 22px; }

  .footer-bot {
    padding: 20px 0; }
    .footer-bot .wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

  .copy,
  .template {
    font-size: 16px;
    line-height: 18px;
    text-align: center; } }
